<div>
    <div>
        <h6>First graph</h6>
        <label class="active">
            <input class="chart-radio" type="radio" name="dataKind1" value="0" checked/> Stats
        </label>
        <label>
            <input class="chart-radio" type="radio" name="dataKind1" value="1"/> Credits
        </label>
        <label>
            <input class="chart-radio" type="radio" name="dataKind1" value="2"/> Bonds
        </label>
        <label>
            <input class="chart-radio" type="radio" name="dataKind1" value="3"/> XP
        </label>
    </div>
    <div class="control-group">
        <h6>Second graph</h6>
        <label class="active">
            <input class="chart-radio" type="radio" name="dataKind2" value="254" checked/> None
        </label>
        <label>
            <input class="chart-radio" type="radio" name="dataKind2" value="0"/> Stats
        </label>
        <label>
            <input class="chart-radio" type="radio" name="dataKind2" value="1"/> Credits
        </label>
        <label>
            <input class="chart-radio" type="radio" name="dataKind2" value="2"/> Bonds
        </label>
        <label>
            <input class="chart-radio" type="radio" name="dataKind2" value="3"/> XP
        </label>
    </div>
    <div class="control-group">
        <h6>Interval</h6>
        <label class="active">
            <input class="chart-radio" type="radio" name="interval" value="0" checked/> 1 week
        </label>
        <label>
            <input class="chart-radio" type="radio" name="interval" value="1"/> 1 month
        </label>
        <label>
            <input class="chart-radio" type="radio" name="interval" value="2"/> 3 months
        </label>
        <label>
            <input class="chart-radio" type="radio" name="interval" value="3"/> 6 months
        </label>
        <label>
            <input class="chart-radio" type="radio" name="interval" value="4"/> 1 year
        </label>
        <label>
            <input class="chart-radio" type="radio" name="interval" value="5"/> All time
        </label>
    </div>
</div>
<canvas id="canvas_stats"></canvas>