bin/
obj/
nginx/
ScaffoldingReadme.txt
redis/
appsettings.json
appsettings.Development.json
backups/
packages-microsoft-prod.deb
scripts/.market_test_data.sql.swp
scripts/market_test_data.sql
tau.env
wwwroot/img/item
wwwroot/img/default
ScaffoldingReadMe.txt
global.json
