@model TauManager.ViewModels.LootItemViewModel

<h4 class="text-center">Apply for @Model.Loot.Item.Name</h4>

<div class="row">
    <div class="col-md-12">
        @await Html.PartialAsync("_LootCardPartial", Model)
    </div>
</div>

@section Scripts
{
<script type="text/javascript">
    $(function() {
        $('#lootRequestSubmitButton').click(function(e){
            e.preventDefault();
            if ($('#checkbox_collector_request').is(':checked')) {
                $('#hiddenCollectorRequest').val('true');
            } else {
                $('#hiddenCollectorRequest').val('false');
            }
            $('#form_item_application').submit();
        });
    })
</script>
}