@{
    ViewData["Title"] = "Acknowledgements";
}

<h2>@ViewData["Title"]</h2>

<p class="mb-1">This website is a private project and not an official offer by the creators of Tau Station. Visit the official game website at <a href="https://taustation.space">https://taustation.space</a>.</p>
<p class="mb-1">Tau Station pictures by courtesy of Makes Dreams Happen SASU, France.</p>
<p class="mb-1">Thanks to <a href="https://www.tauhead.com/">https://www.tauhead.com/</a> for the item data API.</p>