@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Since I'm not getting any profit from this website and don't plan to...</p>
<p>TauManager collects only the data you provide yourself during the registration or usage of the website. 
    I don't collect any emails or other PII, except for the data needed for the functioning of the website (e.g. visitor's IP addresses).</p>
<p>Except for [TAU] syndicate management, I don't share the data with any third parties.</p>
<p>TauManager only uses functional cookies and only to keep you signed in, keep your session alive and store your preferences (e.g. selected display options on Loot Distribution List page).</p>
<p>If you have any questions, please feel free to contact me by email at <a href="mailto:sergey.kudriavtsev@gmail.com">sergey.kudriavtsev@gmail.com</a></p>
