@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Since I'm not getting any profit from this website and don't plan to...</p>
<p>TauManager collects only the data you provide yourself during the registration or usage of the website. 
    I don't collect any emails or other PII, except for the data needed for the functioning of the website (e.g. visitor's IP addresses).</p>
<p>However, users with role "Officer" or "Leader" can upload some information received from the game (such as players' profile page info) to TauManager for further storage and processing. Examples of such info include player's level, stats, bank balance, completed University courses etc.</p>
<p>Except for [TAU] and [TTU] syndicate members, I don't share the data with any third parties.</p>
<p>TauManager only uses functional cookies and only to keep you signed in, keep your session alive and store your preferences (e.g. selected display options on Loot Distribution List page).</p>
<p>If you have any questions, please feel free to contact me by email at <span>sergey(dot)</span><span>kudriavtsev(at)</span>gmail(dot)com</a></p>
