<div class="text-center"><h1>Registration successful</h1></div>

<div>Before you can login with your new credentials, please contact Dotsent in-game via <a href="https://alpha.taustation.space/email/write/dotsent">email</a> or chat for account verification and activation.</div>