<h2 class="text-center">Error 404 (page not found)</h2>
<div class="text-center"><i>You were looking for something, but found nothing. This is the end. <a href="https://alpha.taustation.space/character/details/void" target="_blank">The Void</a> awaits you.</i></div>
