@{
    ViewData["Title"] = "Initial setup complete";
}

<div class="text-center">
    <h2>Initial setup complete!</h2>
    <p>Please <a id="login" asp-area="Identity" asp-page="/Account/Login">login</a> 
    with newly created Administrator credentials to manage users.</p>
</div>